
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
color:#000000
}
h2 {
color: #39a4ce
}
h3 {
color: #39a4ce
}
h6 {
    color:#000000
}
h4{
    color: rgb(83, 141, 180);

}
footer {
    padding: 10px;
    color:#442e94;
    background-color: #0fa6e2;
    text-align: center;
    font-weight: bold;
    }
    nav a {
        font-size: 18;
        font-weight: 400;
        text-decoration: none;
        }
nav a:hover{
    text-weight: bold;
}
header .profile{
    text-align: center;
}
.featured-image {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    object-position: center;
    }
    
.profile img {
    width: 200px;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0 , 0, 0, 0.2);
        border-radius: 8px;
        padding: 20px;
        margin-top: 20px;
        }
        .jumbotron {
            font-size: 20px;
            padding: 10px;
            background-color:#8bcde7;
            text-align: center;
            color: whitesmoke
            }
            nav li {
                display: inline;
                list-style-type: none;
                margin-right: 20px;
                }
                nav {
                    background-color:#0fa6e2;
                    padding: 5px;
                    }
                    nav a {
                        font-size: 18;
                        font-weight: 400;
                        text-decoration: none;
                        color: whitesmoke;
                        }
                        main {
                            padding: 20px;
                            overflow: auto;
                            }            
                            #content {
                                float: left;
                                width: 75%;
                                }
                                aside {
                                    float: right;
                                    width:25%;
                                    padding-left: 20px;
                                    }
    @media screen and (max-width: 1000px) {
            #content,
           aside {
          width: 100%;
         padding: 0;
           }
        }
                                                  